In [3]:
%matplotlib inline
from IPython.display import clear_output
from importlib import reload

import CatalogSearch
reload(CatalogSearch)
from CatalogSearch import *

## Pull inventory from retailer and store in pandas df

In [4]:
item_dict, category_list = load_clothing_dict(dict_path='clothing_category_dict.txt')

In [26]:
test_request=catalog_request('women blouse', 'Target', num_items=20, num_items_per_pg=96, item_dict=item_dict)
test_request.get_website_urls()
test_request.get_products(
    debug=True)

Working on page  1
Page response= 31.769209623336792  s
Waiting for  95.30762887001038  sec
Done,  20  products retrieved from  1 pages.

In [15]:
test_request2=CatalogSearch.catalog_request('women blouse', 'Nordstrom', num_items=1200, num_items_per_pg=100,item_dict=item_dict)
test_request2.get_website_urls()
test_request2.get_products(debug=True)

Working on page  1
Page response= 11.20681095123291  s
Waiting for  33.62043285369873  sec
Done,  50  products retrieved from  1 pages.

In [16]:
test_request3=CatalogSearch.catalog_request('women scarf', 'Nordstrom', num_items=30, num_items_per_pg=100, item_dict=item_dict)
test_request3.get_website_urls()
test_request3.get_products(debug=True)

Working on page  1
Page response= 45.147300481796265  s
Waiting for  135.4419014453888  sec
Done,  30  products retrieved from  1 pages.

In [104]:
test_request4=CatalogSearch.catalog_request('women hat', 'Nordstrom', num_items=30, num_items_per_pg=100, item_dict=item_dict)
test_request4.get_website_urls()
test_request4.get_products(debug=True)

Working on page  1
Page response= 12.85443115234375  s
Waiting for  38.56329345703125  sec
Done,  30  products retrieved from  1 pages.

In [8]:
test_request5=CatalogSearch.catalog_request('women boots', 'Nordstrom', num_items=30, num_items_per_pg=100, item_dict=item_dict)
test_request5.get_website_urls()
test_request5.get_products(debug=True)

Working on page  1
Page response= 74.57678723335266  s
Waiting for  223.73036170005798  sec
Done,  30  products retrieved from  1 pages.

In [17]:
test_request6=CatalogSearch.catalog_request('women trenchcoat', 'Nordstrom', num_items=30, num_items_per_pg=100, item_dict=item_dict)
test_request6.get_website_urls()
test_request6.get_products(debug=True)

Working on page  1
Page response= 32.325578927993774  s
Waiting for  96.97673678398132  sec
Done,  30  products retrieved from  1 pages.

In [5]:
test_request7=CatalogSearch.catalog_request('women purse', 'Nordstrom', num_items=30, num_items_per_pg=100, item_dict=item_dict)
test_request7.get_website_urls()
test_request7.get_products(debug=True)

Working on page  1
Page response= 48.22189211845398  s
Waiting for  144.66567635536194  sec
Done,  30  products retrieved from  1 pages.

## Create postgres database

In [17]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

In [6]:
# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username/password, and connection specifics

username = 'postgres'
password = 'postgres'
host     = 'localhost'
port     = '5432'            # default port that postgres listens on
db_name  = 'clothing'

In [8]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

postgresql://postgres:postgres@localhost:5432/clothing
True

In [103]:
test_request.products_df.to_sql('clothing', engine, if_exists='replace')
test_request2.products_df.to_sql('clothing', engine, if_exists='append')
test_request3.products_df.to_sql('clothing', engine, if_exists='append')
test_request4.products_df.to_sql('clothing', engine, if_exists='append')
test_request5.products_df.to_sql('clothing', engine, if_exists='append')
test_request6.products_df.to_sql('clothing', engine, if_exists='append')

In [9]:
test_request7.products_df.to_sql('clothing', engine, if_exists='append')

## Query database

In [35]:
# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = db_name, user ='postgres', password='postgres', host='/var/run/postgresql/')

In [57]:
sql_query = """
SELECT * FROM clothing_db_mvp WHERE category IN ('clothing_shirt', 'outerwear') ;
"""
data_from_sql = pd.read_sql_query(sql_query,con)
data_from_sql.head()

,index,image_url,product_page_url,price,category,search_keywords
0,0,https://target.scene7.com/is/image/Target/5153...,product_url_goes_here,12.12,clothing_shirt,women blouse
1,1,https://target.scene7.com/is/image/Target/5229...,product_url_goes_here,12.12,clothing_shirt,women blouse
2,2,https://target.scene7.com/is/image/Target/5241...,product_url_goes_here,12.12,clothing_shirt,women blouse
3,3,https://target.scene7.com/is/image/Target/5213...,product_url_goes_here,12.12,clothing_shirt,women blouse
4,4,https://target.scene7.com/is/image/Target/5292...,product_url_goes_here,12.12,clothing_shirt,women blouse

In [96]:
query= "SELECT * FROM clothing_db_mvp WHERE category IN {0} ".format(tuple(not_in_set))

data_from_sql = pd.read_sql_query(query,con)
data_from_sql['category']

0     accessory_neck
1     accessory_neck
2     accessory_neck
3     accessory_neck
4     accessory_neck
5     accessory_neck
6     accessory_neck
7     accessory_neck
8     accessory_neck
9     accessory_neck
10    accessory_neck
11    accessory_neck
12    accessory_neck
13    accessory_neck
14    accessory_neck
15    accessory_neck
16    accessory_neck
17    accessory_neck
18    accessory_neck
19    accessory_neck
20    accessory_neck
21    accessory_neck
22    accessory_neck
23    accessory_neck
24    accessory_neck
25    accessory_neck
26    accessory_neck
27    accessory_neck
28    accessory_neck
29    accessory_neck
Name: category, dtype: object

In [93]:
query

"SELECT * FROM clothing_db_mvp WHERE category IN ('accessory_head', 'accessory_neck', 'clothing_fullbody', 'clothing_sweater', 'outerwear') "

In [94]:
sql_query = """
SELECT * FROM clothing_db_mvp ;
"""
not_in_set = ['accessory_head',
 'accessory_neck',
 'clothing_fullbody',
 'clothing_sweater',
 'outerwear']
placeholder= '' # For SQLite. See DBAPI paramstyle.
placeholders= ', '.join(placeholder for unused in not_in_set)
sql_query = "select index from clothing_db_mvp where category in ('" + ','.join(map(str, not_in_set)) + ')'

sql_query = "select index from clothing_db_mvp where category in %s" % repr(not_in_set).replace('[','(').replace(']',')') )
data_from_sql = pd.read_sql_query(sql_query,con)
data_from_sql['category']

SyntaxError: invalid syntax (<ipython-input-94-cc091ff0f150>, line 13)

In [12]:
original='rere, ffifif, blblb'
sep = original.split(',')

In [13]:
sep

['rere', ' ffifif', ' blblb']